{% load static %}
<header class="cabecalho">
  <!-- Cabeçalho mobile -->
    <div class="cabecalho__conteiner__logo">
        <div class="cabecalho__menu-mobile">
            <input class="cabecalho__menu-mobile__input" type="checkbox" id="cabecalho_menu_checkbox">
            <label class="cabecalho__menu-mobile__input__label" for="cabecalho_menu_checkbox">
                <span class="cabecalho__menu-mobile__input__label__linhas"></span>
                <span class="cabecalho__menu-mobile__input__label__linhas"></span>
                <span class="cabecalho__menu-mobile__input__label__linhas"></span>
                Acesso às opções do cabeçalho
            </label>
        </div>

        <div class="cabecalho__logo">
            <a href="{% url 'home-page' %}" class="cabecalho__logo__link">
                <img title="Ir para a página principal" class="cabecalho__logo__link__imagem" src="{% static '/assets/img/logotipo_desktop.svg' %}" alt="Logotipo do site Cyber Security Information">
                <img class="cabecalho__logo__link__imagem-mobile" src="{% static '/assets/img/logotipo_mobile.svg' %}" alt="Logotipo do site Cyber Security Information">
            </a>
        </div>
    </div>
    <div class="cabecalho__conteiner">
        <nav class="cabecalho__navegacao">
            <ul class="cabecalho__navegacao__lista" id="cabecalho_navegacao_lista"> 
                <li class="cabecalho__navegacao__lista__item">
                    <a href="#" class="cabecalho__navegacao__lista__item__link cabecalho__navegacao__lista__item--mobile cabecalho__navegacao__lista__item__link--icone" id="cabecalho_navegacao_item_sobre_nos">Sobre nós</a> 
                    <ul class="cabecalho__navegacao__sublista" id="cabecalho_navegacao_sublista_sobre_nos"> 
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--sobre-nos"> 
                            <a href="{% url 'fale-conosco' %}" class="cabecalho__navegacao__sublista__item__link">Fale conosco</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--sobre-nos"> 
                            <a href="#" class="cabecalho__navegacao__sublista__item__link">Pesquisas</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--sobre-nos"> 
                            <a href="#" class="cabecalho__navegacao__sublista__item__link">Desenvolvedores</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--sobre-nos"> 
                            <a href="#" class="cabecalho__navegacao__sublista__item__link">Instituição</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--sobre-nos">
                            <a href="{% url 'newsletter' %}" class="cabecalho__navegacao__sublista__item__link">Newsletter</a>
                        </li>
                    </ul>
                </li>
                <li class="cabecalho__navegacao__lista__item" >
                    <a href="#" class="cabecalho__navegacao__lista__item__link cabecalho__navegacao__lista__item__link--icone" id="cabecalho_navegacao_item_ferramentas">Ferramentas</a>
                    <ul class="cabecalho__navegacao__sublista" id="cabecalho_navegacao_sublista_ferramentas"> 
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--ferramentas"> 
                           <a href="#" class="cabecalho__navegacao__sublista__item__link">Validador de URL's</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--ferramentas">
                            <a href="#" class="cabecalho__navegacao__sublista__item__link">Gerador de Senhas</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--ferramentas"> 
                            <a href="#" class="cabecalho__navegacao__sublista__item__link">Nosso App</a>
                        </li>
                    </ul>
                </li>
                <li class="cabecalho__navegacao__lista__item">
                    <a href="#" class="cabecalho__navegacao__lista__item__link cabecalho__navegacao__lista__item__link--icone" id="cabecalho_navegacao_item_tutoriais">Tutoriais</a> 
                    <ul class="cabecalho__navegacao__sublista" id="cabecalho_navegacao_sublista_tutoriais"> 
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--tutoriais"> 
                            <a href="#" class="cabecalho__navegacao__sublista__item__link">Verificação em Duas Etapas</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--tutoriais"> 
                            <a href="#" class="cabecalho__navegacao__sublista__item__link">Mover e-mail para caixa de Spam</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--tutoriais"> 
                            <a href="#"  class="cabecalho__navegacao__sublista__item__link">Como baixar nosso App</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--tutoriais">
                            <a href="#"  class="cabecalho__navegacao__sublista__item__link">Como criar Senhas Fortes</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--tutoriais"> 
                            <a href="#" class="cabecalho__navegacao__sublista__item__link--indicador cabecalho__navegacao__sublista__item__link">Ver mais</a>
                        </li>
                    </ul>
                </li>
                <li class="cabecalho__navegacao__lista__item">
                    <a href="#" class="cabecalho__navegacao__lista__item__link cabecalho__navegacao__lista__item__link--icone" id="cabecalho_navegacao_item_conceitos">Conceitos</a> 
                    <ul class="cabecalho__navegacao__sublista" id="cabecalho_navegacao_sublista_conceitos"> 
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--conceitos"> 
                            <a href="#" class="cabecalho__navegacao__sublista__item__link">Cibersegurança</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--conceitos"> 
                            <a href="#" class="cabecalho__navegacao__sublista__item__link">Crimes Cibernéticos</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--conceitos">
                            <a href="#" class="cabecalho__navegacao__sublista__item__link">Dicionário de Cibersegurança</a>
                        </li>
                        <li class="cabecalho__navegacao__sublista__item cabecalho__navegacao__sublista__item--conceitos">
                            <a href="#" class="cabecalho__navegacao__sublista__item__link--indicador cabecalho__navegacao__sublista__item__link">Outros</a>
                        </li>
                    </ul>

                </li>
            </ul>

        </nav>
    </div>
  </header>
