/* Reset do CSS */
* {
    font-family: 'Roboto Slab', serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Link de pular para o conteúdo principal */
.link-conteudo-principal {
    color: #FFFFFF;
	
    position: absolute;
    left: -999px;
    top: 5px;
    z-index: 1;
}

.link-conteudo-principal:focus {
    background: #1B341D;
	
    left: 10px;
}


/* Cabeçalho */
.cabecalho {
    background: rgba(0, 0, 0, 0.5) url("../img/background_cabecalho.png") repeat;
    background-blend-mode: darken;
    box-shadow: 1px 6px 15px 0 rgba(0,26,1,0.62);
    -webkit-box-shadow: 1px 6px 15px 0 rgba(0,26,1,0.62);
}

.cabecalho__logo__link__imagem {
    margin: 0.80rem 0.75rem 0.80rem 0.75rem;
}

.cabecalho, .cabecalho__navegacao__lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__conteiner{
    margin-right: 0.75rem;
}

.cabecalho__navegacao__lista, .cabecalho__navegacao__sublista {
    list-style-type: none;
}

.cabecalho__navegacao__lista__item, .cabecalho__navegacao__sublista__item {
    position: relative;
}

.cabecalho__navegacao__lista__item__link, .cabecalho__navegacao__sublista__item__link {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;

    display: block;

    padding: 1.3rem;
}

.cabecalho__navegacao__sublista__item__link--indicador {
    color: #20e456;

    text-decoration: none;
}


/*Fale Conosco*/
.corpo__fale-conosco, .corpo__newsletter {
    background: rgb(23,20,20);
    background: linear-gradient(90deg, rgba(23,20,20,1) 0%, rgba(23,20,20,1) 50%, rgba(15,42,14,1) 100%);
}

.secao-inicio__titulo--fale-conosco { 
    animation: secao-inicio__titulo--animacao--fale-conosco 2.5s steps(50) 1s normal both;
    overflow: hidden;

    font-size: 1.5rem;
    letter-spacing: 1.5px;
    text-align: center;
    white-space: nowrap;
}

.secao-inicio__titulo__cursor {
    animation: secao-inicio__titulo__cursor 800ms steps(40) infinite normal;
}

@keyframes secao-inicio__titulo--animacao--fale-conosco {
    from {
        width: 0;
    }

    to {
        width: 22rem;
    }
}

@keyframes secao-inicio__titulo__cursor {
    from {
        color: #FFFFFF;
    }

    to {
        color: transparent;
    }
}


/*Newsletter*/ 
.secao-inicio__titulo--cor {
    color: #149A54;
}

.erro {  
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    border-radius: 0.375rem;
    
    color: #842029;
	
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}

.sucesso {
    background-color: #d1e7dd;
    border: 1px solid #badbcc;
    border-radius: 0.375rem;
	
    color: #0f5132;
	
	
    margin-bottom: 1rem;	
    padding: 1rem 1rem;
}


/*Link de voltar ao topo*/
.link-conteudo-principal {
    z-index: 1;
    
    color: #FFFFFF;
    
    position: absolute;
    left: -999px;
    top: 5px;
}

.link-conteudo-principal:focus {
    background: #1B341D;
    
    left: 10px;
}
