/*Cabecalho*/
@media screen and (min-width: 0){
    .cabecalho {
        align-items: flex-start;
        flex-direction: column;
    }

    #cabecalho_menu_checkbox {
        opacity: 0;

        position: absolute;
    }

    .cabecalho__menu-mobile__input__label {
        cursor: pointer;

        height: 22px;
        width: 30px;

        position: relative;

        display: block;
    }

    .cabecalho__menu-mobile__input__label__linhas {
        border-radius: 30px;
        transition: .25s ease-in-out;

        background-color: #FFFFFF;

        height: 2px;
        width: 100%;

        display: block;
        position: absolute;
    }

    .cabecalho__menu-mobile__input__label__linhas:nth-child(1) {
        top: 0;
    }

    .cabecalho__menu-mobile__input__label__linhas:nth-child(2) {
        top: 8px;
    }

    .cabecalho__menu-mobile__input__label__linhas:nth-child(3) {
        top: 16px;
    }

    .cabecalho__menu-mobile__input:checked + .cabecalho__menu-mobile__input__label span:nth-child(1) {
        transform: rotate(-45deg);

        top: 8px;
    }

    .cabecalho__menu-mobile__input:checked + .cabecalho__menu-mobile__input__label span:nth-child(2) {
        opacity: 0;
    }

    .cabecalho__menu-mobile__input:checked + .cabecalho__menu-mobile__input__label span:nth-child(3) {
        transform: rotate(45deg);

        top: 8px;
    }


    .cabecalho__conteiner {
        width: 100%;
    }

    .cabecalho__navegacao {
        display: block;
    }

    .cabecalho__logo__link__imagem {
        display: none;
    }

    .cabecalho__conteiner__logo {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
         padding: 0 1.875rem 0 1.875rem;
    }

    .cabecalho__logo {
        width: 100%;

        display: flex;
        justify-content: center;
    }

    .cabecalho__logo__link__imagem-mobile {
        display: block;

        margin: 0.5rem 0 .5rem 0;
    }

    .cabecalho__navegacao__lista {
        display: none;
        flex-direction: column;
        justify-content: start;
    }

    .cabecalho__navegacao__lista__item {
        border-bottom: 1px solid #20e456;
        border-top: 1px solid #20e456;
        font-size: 1.2rem;
        letter-spacing: 1px;

        width: 100%;
    }

    .cabecalho__navegacao__lista__item__link {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cabecalho__navegacao__lista__item__link--icone::after {
        background: url("../img/seta_recolhe.svg");
        content: " ";
        transition-duration: .7s;

        height: 24px;
        width: 24px;

        display: block;
    }
    
    .rodar__item__link--icone::after{
        transform: rotate(180deg);
    }

    .cabecalho__navegacao__lista__item:hover .cabecalho__navegacao__sublista, .cabecalho__navegacao__lista .cabecalho__navegacao__lista__item.over .cabecalho__navegacao__sublista {
        display: none;
    }

    .cabecalho__navegacao__sublista {
        background: rgba(0, 0, 0, 0.6);

        position: relative;

        display: none;
    }

    .cabecalho__navegacao__sublista__item {
        border-bottom: 1.5px solid #20E456;
        border-top: 1.5px solid #20e456;
        font-size: 1.08rem;
        letter-spacing: 1px;

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: .3rem;
    }

    .cabecalho__navegacao__sublista__item:hover {
        background: transparent;
    }

    /* Sobre Nós */
    .cabecalho__navegacao__sublista__item--sobre-nos:nth-child(1)::before {
        background: url("../img/icone_email.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem;
    }

    .cabecalho__navegacao__sublista__item--sobre-nos:nth-child(2)::before {
        background: url("../img/icone_pesquisa.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem;
    }

    .cabecalho__navegacao__sublista__item--sobre-nos:nth-child(3)::before {
        background: url("../img/icone_desenvolver.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem;
    }

    .cabecalho__navegacao__sublista__item--sobre-nos:nth-child(4)::before {
        background: url("../img/icone_instituicao.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem;
    }
    
     .cabecalho__navegacao__sublista__item--sobre-nos:nth-child(5)::before {
        background: url("../img/icone_newsletter.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem;
    }
    
    /* Ferramentas */
    .cabecalho__navegacao__sublista__item--ferramentas:nth-child(1)::before {
        background: url("../img/icone_validador_de_url.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;
        margin-left: 1rem;
    }

    .cabecalho__navegacao__sublista__item--ferramentas:nth-child(2)::before {
        background: url("../img/icone_gerador_de_senhas.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem;
    }

    .cabecalho__navegacao__sublista__item--ferramentas:nth-child(3)::before {
        background: url("../img/icone_nosso_app.svg");
        content: " ";

        height: 26px;
        width: 24px;

        display: block;

        margin-left: 1rem;
    }
    
    /* Tutoriais */
    .cabecalho__navegacao__sublista__item--tutoriais:nth-child(1)::before {
        background: url("../img/icone_verificacao_em_duas_etapas.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem
    }

    .cabecalho__navegacao__sublista__item--tutoriais:nth-child(2)::before {
        background: url("../img/icone_mover_email_para_caixa_de_spam.svg") no-repeat;
        content: " ";

        height: 24px;
        width: 28px;

        display: block;

        margin-left: 1rem
    }

    .cabecalho__navegacao__sublista__item--tutoriais:nth-child(3)::before {
        background: url("../img/icone_baixe_nosso_app.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem
    }

    .cabecalho__navegacao__sublista__item--tutoriais:nth-child(4)::before {
        background: url("../img/icone_como_criar_senhas_fortes.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem
    }
    
    .cabecalho__navegacao__sublista__item--tutoriais:nth-child(5)::before {
        background: url("../img/icone_ver_mais.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem
    }
    
    /* Conceitos */
    .cabecalho__navegacao__sublista__item--conceitos:nth-child(1)::before {
        background: url("../img/icone_ciberseguranca.svg") no-repeat;
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem;
    }

    .cabecalho__navegacao__sublista__item--conceitos:nth-child(2)::before {
        background: url("../img/icone_crimes_ciberneticos.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem;
    }

   .cabecalho__navegacao__sublista__item--conceitos:nth-child(3)::before {
        background: url("../img/icone_dicionario_de_ciberseguranca.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem;
    }

    .cabecalho__navegacao__sublista__item--conceitos:nth-child(4)::before {
        background: url("../img/icone_ver_mais.svg");
        content: " ";

        height: 24px;
        width: 24px;

        display: block;

        margin-left: 1rem;
    }
    
    /*Fale Conosco*/
     .secao-inicio {
        color: #ffffff;
        text-align: center;

        margin: 2.5rem 1.15625rem 2.5rem 1.15625rem;

        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .secao-inicio__conteiner {
        margin-top: 1rem;
    }

    .secao-inicio__conteiner__subtitulo {
        font-size: .875rem;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.5rem;
    }

    .secao-contato {
        margin: 2.5rem 1.15625rem 2.5rem 1.15625rem;
    }

    .secao-contato__formulario__usuario, .secao-contato__formulario__mensagem, .secao__contato__formulario__resposta, .secao-contato__formulario__resposta {
        border: none;

        margin: 0;
        padding:0;
    }

    .secao-contato__formulario__usuario__label, .secao-contato__formulario__mensagem__label, .secao-contato__formulario__resposta__label, .secao-contato__formulario__resposta__label__checkbox, .secao-contato__formulario__resposta__legenda {
        color: #FFFFFF;

        margin-bottom: .1875rem;
        margin-left: .6875rem;
    }

    .secao-contato__formulario__usuario__conteiner, .secao-contato__formulario__mensagem__conteiner, .secao-contato__formulario__resposta__conteiner {
        margin-bottom: 2.5rem;

        display: flex;
        flex-direction: column;
    }

    .secao-contato__formulario__usuario__input, .secao-contato__formulario__mensagem__selecionar, .secao-contato__formulario__resposta__checkbox, .secao-contato__formulario__mensagem__textarea {
        background-color: #1B341D;
        border: none;
        border-radius: 15px;
        box-shadow: none;
        outline: none;
    }

    .secao-contato__formulario__usuario__input, .secao-contato__formulario__mensagem__selecionar, .secao-contato__formulario__resposta__checkbox {
        color: #FFFFFF;

        height: 3.125rem;
    }

    .secao-contato__formulario__usuario__input, .secao-contato__formulario__mensagem__selecionar {
        padding-left: .875rem;
    }

    .secao-contato__formulario__mensagem__selecionar {
        padding-right: .875rem;
    }

    .secao-contato__formulario__resposta__checkbox {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .secao-contato__formulario__resposta__checkbox--email, .secao-contato__formulario__resposta__checkbox--whatsapp {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .secao-contato__formulario__usuario__input:focus, .secao-contato__formulario__mensagem__selecionar:focus, .secao-contato__formulario__mensagem__textarea:focus, .secao-contato__formulario__botao:focus {
        border: 1px solid #20e456;
    }

    .secao-contato__formulario__resposta__checkbox {
        padding: 0 .875rem 0 .875rem
    }

    .secao-contato__formulario__mensagem__textarea {
        color: #FFFFFF;

        height: 10rem;

        padding: .875rem 0 0 .875rem;
    }

    .secao-contato__formulario__conteiner {
        display: flex;
        justify-content: center;
    }

    .secao-contato__formulario__botao {
        background-color: #1B341D;
        color: #FFFFFF;
        border: none;
        border-radius: 15px;

        font-weight: bold;
        letter-spacing: 1.2px;

        height: 3.125rem;
        width: 15.625rem;

        margin-bottom: 1rem;
    }
    
     /*Newsletter*/
    .secao-inicio__titulo--newsletter {
        letter-spacing: 1.5px;
        line-height: 2rem;

    }

    .secao-inicio__titulo--cor {
        animation: secao-inicio__titulo--cor--animacao 2.5s steps(50) 1s normal both;
        overflow: hidden;

        white-space: nowrap;
    }

    @keyframes secao-inicio__titulo--cor--animacao {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .secao-inicio__conteiner__subtitulo {
        letter-spacing: 1.5px;
    }

    .conteiner--newsletter {
        margin: 1.875rem;
    }

    .secao-contato__formulario--newsletter {
        background: #1B341D;

        border-radius: 15px;

        padding: 1.84375rem 1.5rem 1.84375rem 1.5rem;
    }

    .secao-contato__formulario__usuario__input--newsletter, .secao-contato__formulario__botao--newsletter {
        background: #031805;
    }
}


@media screen and (min-width: 1200px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
    }

    .cabecalho__logo {
        justify-content: start;
    }
    
    .cabecalho__conteiner__logo {
         padding: initial; 
     }
    
     .cabecalho__navegacao__lista {
         height: 4.375rem;

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .cabecalho__navegacao__lista__item {
        border-bottom: none;
        border-top: none;

        text-align: center;

        width: 10.8625rem;
        position: relative;
    }

    .cabecalho__navegacao__lista__item__link {
        justify-content: center;
    }

    .cabecalho__navegacao__lista__item:hover {
        border-bottom: 1px solid #20e456;
        border-top: 1px solid #20e456;
    }

    .cabecalho__navegacao__lista__item__link::after {
        content: "";

        height: 0;
        width: 0;
    }

    .cabecalho__navegacao__sublista {
        background: #010300;
        border-radius: 0 0 10px 10px;
        box-shadow: 4px 4px 4px rgba(28, 120, 13, 0.4);

        display: none;

        position: absolute;

        width: 100%;
    }

    .cabecalho__navegacao__sublista__item {
        border-bottom: none;
        border-top: none;

        font-size: 0.8125rem;
        text-align: center;

        width: 100%;

        display: flex;
        justify-content: center;
    }

    .cabecalho__navegacao__sublista__item:hover {
        background: rgb(11,20,2);
        background: linear-gradient(90deg, rgba(11,20,2,1) 0%, rgba(32,57,6,1) 35%);
        border-radius: 0 0 10px 10px;

        color: #FFFFFF;
    }

    .cabecalho__navegacao__lista__item:hover .cabecalho__navegacao__sublista, .cabecalho__navegacao__lista .cabecalho__navegacao__lista__item.over .cabecalho__navegacao__sublista {
        display: flex;
        flex-direction: column;

        margin-top: 2px;
    }

    .cabecalho__menu-mobile {
        display: none;
    }

    .cabecalho__logo__link__imagem {
        display: block;
    }

    .cabecalho__logo__link__imagem-mobile {
        display: none;
    }

    .cabecalho__navegacao__sublista__item--sobre-nos:nth-child(1)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--sobre-nos:nth-child(2)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--sobre-nos:nth-child(3)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--sobre-nos:nth-child(4)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }
    
    .cabecalho__navegacao__sublista__item--sobre-nos:nth-child(5)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }
    
     .cabecalho__navegacao__sublista__item--ferramentas:nth-child(1)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--ferramentas:nth-child(2)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--ferramentas:nth-child(3)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--tutoriais:nth-child(1)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--tutoriais:nth-child(2)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--tutoriais:nth-child(3)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--tutoriais:nth-child(4)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--tutoriais:nth-child(5)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--conceitos:nth-child(1)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--conceitos:nth-child(2)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--conceitos:nth-child(3)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }

    .cabecalho__navegacao__sublista__item--conceitos:nth-child(4)::before {
        content: " ";

        height: 0;
        width: 0;

        margin-left: 0;
    }
    
     /*Fale Conosco*/
    .secao-contato {
        margin: 0 13.15625rem 0 13.15625rem;
    }

    .secao-inicio__titulo {
        font-size: 2.2rem;
    }

    @keyframes secao-inicio__titulo--animacao--fale-conosco {
        from {
            width: 0;
        }

        to {
            width: 32rem;
        }
    }

    .secao-inicio__conteiner__subtitulo {
       font-size: .90rem;
        font-weight: 520;
    }

     .secao-contato__formulario__mensagem__conteiner--desktop {
        display: flex;
        justify-content: space-between;
    }

    .secao-contato__formulario__mensagem__conteiner--tipo-de-contato {
        width: 40%;

        display: flex;
        flex-direction: column;

        margin-bottom: 0;
    }

    .secao-contato__formulario__resposta {
        width: 45%;
    }

    .secao-contato__formulario__botao {
        transition: all 1s ease;
    }

    .secao-contato__formulario__botao:hover {
        background: transparent;
        border: 1px solid #20e456;
        cursor: pointer;
    }
    
    /*Newsletter*/
    .secao-inicio__titulo--newsletter {
        animation: secao-inicio__titulo--animacao--newsletter 4s steps(50) 1s normal both;
        overflow: hidden;

        font-size: 2em;
        text-align: center;
        white-space: nowrap;

        height: 2.5rem;
    }

    @keyframes secao-inicio__titulo--animacao--newsletter {
        from {
            width: 0;
        }

        to {
            width: 80rem;
        }
    }

    .secao-inicio__titulo--cor {
        animation: none;
    }

    .secao-inicio__conteiner--newsletter {
        display: flex;
        justify-content: center;

        margin-top: 2rem;
    }

    .secao-inicio__conteiner__subtitulo--newsletter {
        line-height: 1.5em;

        font-size: 1.2em;
        font-weight: 100;

        width: 60%;
    }

    .conteiner--newsletter {
        display: flex;
        justify-content: center;

        margin-top: 5.9375rem;
    }

    .secao-imagem {
        background: url("../img/imagem_newsletter.svg");

        height: 23.125rem;
        width: 23.125rem;

        margin-right: 5.3125rem;
    }

    .secao-contato--newsletter {
        height: 27.5rem;

        width: 50rem;
    }

    .secao-contato__formulario--newsletter {
        padding: 2.375rem 2.8125rem 3.875rem 2.8125rem;
    }

    .secao-contato__formulario__usuario__label--newsletter {
        font-size: 1.3em;
    }

    .secao-contato__formulario__botao--newsletter {
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 2px;
    }

    .secao-contato__formulario__botao--newsletter:hover {
        background: linear-gradient(90deg, rgba(23,20,20,1) 0%, rgba(23,20,20,1) 50%, rgba(15,42,14,1) 100%);
    }
}
