{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Desenvolvedores | Cyber Security Information</title>
{% endblock %}

{% block class_css_body %} class="corpo__desenvolvedores" {% endblock %}

{% block content %}

<main role="main">
<section id="conteudo-principal" class="secao-inicio">
    <h1 class="secao-inicio__titulo--desenvolvedores">Desenvolvedores<span class="secao-inicio__titulo__cursor">|</span></h1>
</section>

<section class="secao-cards-desenvolvedores">
    <ul class="secao-cards-desenvolvedores__lista" tabindex="0">
        <li class="secao-cards-desenvolvedores__lista__item">
            <div class="secao-cards-desenvolvedores__lista__item__conteiner--icone-sem-fundo"></div>
            <div class="secao-cards-desenvolvedores__lista__item__conteiner">
                <div class="secao-cards-desenvolvedores__lista__item__conteiner--imagem">
                    <img class="secao-cards-desenvolvedores__lista__item__conteiner--imagem-perfil" src="{% static '/assets/img/foto_anna.png' %}" alt="Foto da Desenvolvedora Anna Beatriz">
                </div>
                <h2 class="secao-cards-desenvolvedores__lista__item__titulo">Anna Beatriz Santos e Souza</h2>
                <p class="secao-cards-desenvolvedores__lista__item__paragrafo">Responsável pelo desenvolvimento back-end da aplicação web, pela revisão e padronização de scripts e pela criação de ferramentas da aplicação.</p>
                <section class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais">
                    <div class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner">
                        <ul class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista">
                            <li class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item">
                                <a title="Perfil do LinkedIn de Anna Beatriz" class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item__link" href="#"><img class="secao-cards__lista__item__secao-redes-sociais__conteiner__lista__item__link__imagem" src="{% static '/assets/img/icone_linkedin.svg' %}" alt="Ícone da rede social LinkedIn de Anna Beatriz"></a>
                            </li>
                            <li class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item">
                                <a title="Perfil do GitHub de Anna Beatriz" class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item__link" href="#"><img class="secao-cards__lista__item__secao-redes-sociais__conteiner__lista__item__link__imagem" src="{% static '/assets/img/icone_github.svg' %}" alt="Ícone do perfil do GitHub de Anna Beatriz"></a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </li>
        <li class="secao-cards-desenvolvedores__lista__item">
            <div class="secao-cards-desenvolvedores__lista__item__conteiner--icone-com-fundo"></div>
            <div class="secao-cards-desenvolvedores__lista__item__conteiner">
                <div class="secao-cards-desenvolvedores__lista__item__conteiner--imagem">
                    <img class="secao-cards-desenvolvedores__lista__item__conteiner--imagem-perfil" src="{% static '/assets/img/foto_hillary.png' %}" alt="Foto da Desenvolvedora Hillary">
                </div>
                <h2 class="secao-cards-desenvolvedores__lista__item__titulo">Hillary Mendes Moreira</h2>
                <p class="secao-cards-desenvolvedores__lista__item__paragrafo">Responsável pelo desenvolvimento front-end da aplicação web, pela criação da interface do usuário (UI) e pela criação de templates complementares.</p>
                <section class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais">
                    <div class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner">
                        <ul class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista">
                            <li class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item">
                                <a title="Perfil do LinkedIn de Hillary" class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item__link" href="#"><img class="secao-cards__lista__item__secao-redes-sociais__conteiner__lista__item__link__imagem" src="{% static '/assets/img/icone_linkedin.svg' %}" alt="Ícone da rede social LinkedIn de Hillary"></a>
                            </li>
                            <li class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item">
                                <a title="Perfil do GitHub de Hillary" class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item__link" href="#"><img class="secao-cards__lista__item__secao-redes-sociais__conteiner__lista__item__link__imagem" src="{% static '/assets/img/icone_github.svg' %}" alt="Ícone do perfil do GitHub de Hillary"></a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </li>
        <li class="secao-cards-desenvolvedores__lista__item">
            <div class="secao-cards-desenvolvedores__lista__item__conteiner--icone-sem-fundo-mobile secao-cards-desenvolvedores__lista__item__conteiner--icone-com-fundo-desktop"></div>
            <div class="secao-cards-desenvolvedores__lista__item__conteiner">
                <div class="secao-cards-desenvolvedores__lista__item__conteiner--imagem">
                    <img class="secao-cards-desenvolvedores__lista__item__conteiner--imagem-perfil" src="{% static '/assets/img/foto_rapha.png' %}" alt="Foto da Desenvolvedora Raphaela">
                </div>
                <h2 class="secao-cards-desenvolvedores__lista__item__titulo">Raphaela Guiland Ferraz</h2>
                <p class="secao-cards-desenvolvedores__lista__item__paragrafo">Secretária do projeto<br>Responsável pelo desenvolvimento front-end da aplicação web, pelos testes de usabilidade e acessibilidade da aplicação, pela criação da interface do usuário (UI) e pela experiência do usuário (UX).</p>
                <section class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais">
                    <div class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner">
                        <ul class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista">
                            <li class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item">
                                <a title="Perfil do LinkedIn de Raphaela" class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item__link" href="#"><img class="secao-cards__lista__item__secao-redes-sociais__conteiner__lista__item__link__imagem" src="{% static '/assets/img/icone_linkedin.svg' %}" alt="Ícone da rede social LinkedIn de Raphaela"></a>
                            </li>
                            <li class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item">
                                <a title="Perfil do GitHub de Raphaela" class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item__link" href="#"><img class="secao-cards__lista__item__secao-redes-sociais__conteiner__lista__item__link__imagem" src="{% static '/assets/img/icone_github.svg' %}" alt="Ícone do perfil do GitHub de Raphaela"></a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </li>
        <li class="secao-cards-desenvolvedores__lista__item">
            <div class="secao-cards-desenvolvedores__lista__item__conteiner--icone-com-fundo-mobile secao-cards-desenvolvedores__lista__item__conteiner--icone-sem-fundo-desktop"></div>
            <div class="secao-cards-desenvolvedores__lista__item__conteiner">
                <div class="secao-cards-desenvolvedores__lista__item__conteiner--imagem">
                    <img class="secao-cards-desenvolvedores__lista__item__conteiner--imagem-perfil" src="{% static '/assets/img/foto_victor.png' %}" alt="Foto do Desenvolvedor Victor">
                </div>
                <h2 class="secao-cards-desenvolvedores__lista__item__titulo">Victor Gabriel Marques</h2>
                <p class="secao-cards-desenvolvedores__lista__item__paragrafo">Líder do Projeto<br>Responsável pelo desenvolvimento back-end da aplicação web, pela criação do ambiente de produção, pelo desenvolvimento de scripts complementares e pela criação de ferramentas da aplicação.</p>
                <section class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais">
                    <div class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner">
                        <ul class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista">
                            <li class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item">
                                <a title="Perfil do LinkedIn de Victor" class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item__link" href="#"><img class="secao-cards__lista__item__secao-redes-sociais__conteiner__lista__item__link__imagem" src="{% static '/assets/img/icone_linkedin.svg' %}" alt="Ícone da rede social LinkedIn de Victor"></a>
                            </li>
                            <li class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item">
                                <a title="Perfil do GitHub de Victor" class="secao-cards-desenvolvedores__lista__item__secao-redes-sociais__conteiner__lista__item__link" href="#"><img class="secao-cards__lista__item__secao-redes-sociais__conteiner__lista__item__link__imagem" src="{% static '/assets/img/icone_github.svg' %}" alt="Ícone do perfil do GitHub de Victor"></a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </li>
    </ul>
</section>
<div class="conteiner__linha"></div>
<section class="secao-cards-orientadores">
    <section class="secao-inicio">
        <h2 class="secao-inicio__titulo--orientadores">Orientadores<span class="secao-inicio__titulo__cursor">|</span></h2>
    </section>
    <ul class="secao-cards-orientadores__lista" tabindex="0">
        <li class="secao-cards-orientadores__lista__item">
            <div class="secao-cards-orientadores__lista__item__conteiner--icone-orientador"></div>
            <div class="secao-cards-orientadores__lista__item__conteiner">
                <div class="secao-cards-orientadores__lista__item__conteiner--imagem">
                    <img class="secao-cards-orientadores__lista__item__conteiner--imagem-perfil" src="{% static '/assets/img/foto_adriano.png' %}" alt="Foto do orientador do projeto, Adriano">
                </div>
                <h2 class="secao-cards-orientadores__lista__item__titulo">Adriano José Ferruzzi</h2>
                <p class="secao-cards-orientadores__lista__item__paragrafo">Orientador do projeto e professor da área técnica no Instituto Federal de Educação, Ciência e Tecnologia. </p>
                <section class="secao-cards-orientadores__lista__item__secao-redes-sociais">
                    <div class="secao-cards-orientadores__lista__item__secao-redes-sociais__conteiner">
                        <ul class="secao-cards-orientadores__lista__item__secao-redes-sociais__conteiner__lista">
                            <li class="secao-cards-orientadores__lista__item__secao-redes-sociais__conteiner__lista__item">
                                <a class="secao-cards-orientadores__lista__item__secao-redes-sociais__conteiner__lista__item__link" href="#"><img class="secao-cards-orientadores__lista__item__secao-redes-sociais__conteiner__lista__item__link__imagem" src="{% static '/assets/img/icone_linkedin.svg' %}" alt="Ícone da rede social LinkedIn de Adriano"></a>
                        </ul>
                    </div>
                </section>
            </div>
        </li>
            <li class="secao-cards-orientadores__lista__item">
            <div class="secao-cards-orientadores__lista__item__conteiner--icone-orientador"></div>
            <div class="secao-cards-orientadores__lista__item__conteiner">
                <div class="secao-cards-orientadores__lista__item__conteiner--imagem">
                    <img class="secao-cards-orientadores__lista__item__conteiner--imagem-perfil" src="{% static '/assets/img/foto_regivaldo.png' %}" alt="Foto do co-orientador do projeto, Regivaldo">
                </div>
                <h2 class="secao-cards-orientadores__lista__item__titulo">Regivaldo Sousa Ferreira</h2>
                <p class="secao-cards-orientadores__lista__item__paragrafo">Co-orientador do projeto e professor da área técnica no Instituto Federal de Educação, Ciência e Tecnologia. </p>
                <section class="secao-cards-orientadores__lista__item__secao-redes-sociais">
                    <div class="secao-cards-orientadores__lista__item__secao-redes-sociais__conteiner">
                        <ul class="secao-cards-orientadores__lista__item__secao-redes-sociais__conteiner__lista">
                            <li class="secao-cards-orientadores__lista__item__secao-redes-sociais__conteiner__lista__item">
                                <a class="secao-cards-orientadores__lista__item__secao-redes-sociais__conteiner__lista__item__link" href="#"><img class="secao-cards-orientadores__lista__item__secao-redes-sociais__conteiner__lista__item__link__imagem" src="{% static '/assets/img/icone_linkedin.svg' %}" alt="Ícone da rede social LinkedIn de Regivaldo"></a>
                        </ul>
                    </div>
                </section>
            </div>
        </li>
    </ul>
</section>
</main>
{% endblock %}
