{% extends 'base.html' %}  {# Essa página tem sua estrutura no arquivo base.html #}
{% load static %}

{% block meta-descricao %}
<meta name="description" content="Saiba mais sobre o Instituto Federal de São Paulo (IFSP), instituição de ensino dos desenvolvedores e orientadores do projeto.">
{% endblock %}

{% block meta-keys %}
<meta name="keywords" content="IFSP, IFSP - Câmpus Pirituba, Instituição, História do Câmpus, Localização do Câmpus">
{% endblock %}

{% block title %}
<title>Instituição | Cyber Security Information</title>
{% endblock %}

{% block class_css_body %} class="corpo--instituicao" {% endblock %}

{% block content %}

<main class="principal--instituicao" tabindex="0" role="main">
 <section id="conteudo-principal" class="secao-inicio secao-inicio--instituicao">
    <h1 class="secao-inicio__titulo--instituicao">Instituição<span class="secao-inicio__titulo__cursor">|</span></h1>
</section>

<section class="secao-informacoes-ifsp">
    <div class="secao-informacoes-ifsp__conteiner__informacoes">
        <div class="secao-informacoes-ifsp__conteiner-logo"></div>
        <h2 class="secao-informacoes-ifsp__titulo">Instituto Federal de Educação, Ciência e Tecnologia de São Paulo
        <span class="secao-informacoes-ifsp__titulo__spam">Câmpus São Paulo - Pirituba</span></h2>
    </div>
    <div class="secao-informacoes-ifsp__conteiner">
        <img class="secao-informacoes-ifsp__conteiner__imagem" src="{% static '/assets/img/imagem_campus.webp' %}" alt="Imagem panoramica do IFSP Câmpus Pirituba">
    </div>
</section>

<section class="secao-conteudo-informacoes-ifsp">
    <article class="secao-conteudo-informacoes-ifsp__artigo">
        <p class="secao-conteudo-informacoes-ifsp__artigo__paragrafo">
            O Câmpus Pirituba (PTB) faz parte do Plano de Expansão da Rede Federal de Educação Profissional e Tecnológica. Está localizado na região noroeste do município de São Paulo do Estado de São Paulo que abrange as regiões de Pirituba, Jaraguá, São Domingos, Freguesia do Ó, Vila Brasilândia, Anhanguera e Perus, englobando cerca de 1 milhão de habitantes. A abrangência do Câmpus se estende também para os municípios vizinhos de Caieiras, Osasco e Barueri.
        </p>
    </article>

    <article class="secao-conteudo-informacoes-ifsp__artigo">
        <p class="secao-conteudo-informacoes-ifsp__artigo__paragrafo">
            O Câmpus Pirituba foi instalado em um terreno de aproximadamente 67.297,31 metros quadrados. Este terreno foi concessão administrativa de uso por 90 anos, a título gratuito, pela Prefeitura do Município de São Paulo através da Lei Municipal nº 15.686 de 26 de março de 2013, editada no processo administrativo nº 2012-0.272.628-0.
        </p>
    </article>

    <article class="secao-conteudo-informacoes-ifsp__artigo">
        <p class="secao-conteudo-informacoes-ifsp__artigo__paragrafo">
            Para a definição dos eixos tecnológicos do câmpus foi determinado a realização de quatro audiências públicas, sendo que as três primeiras audiências seriam para a consulta pública e a última para dar um retorno e divulgar os eixos tecnológicos e os cursos definidos. As três primeiras audiências públicas que definiram os eixos tecnológicos do Câmpus foram realizadas em 14 e 28 de novembro de 2015 nos bairros de Pirituba e Perus, respectivamente e a terceira foi realizada em 12 de dezembro de 2015, no bairro da Brasilândia. A última audiência pública, com o objetivo de divulgar o resultado final das audiências à população do entorno do Câmpus Pirituba, foi realizada em 25 de junho de 2016 no próprio câmpus. O início de suas atividades letivas com cursos de Formação Inicial e Continuada está planejado para o 2º semestre de 2016 e com cursos regulares está planejado para o 1º semestre de 2017.
        </p>
    </article>
</section>

<div class="conteiner__linha conteiner__linha--instituicao"></div>

<section class="secao-inicio secao-inicio--instituicao">
    <h2 class="secao-inicio__titulo secao-inicio__titulo--instituicao">Sobre o IFSP<span class="secao-inicio__titulo__cursor">|</span></h2>
</section>

<section class="secao-conteudo-informacoes-ifsp">
    <article class="secao-conteudo-informacoes-ifsp__artigo">
        <p class="secao-conteudo-informacoes-ifsp__artigo__paragrafo">
            O Instituto Federal de Educação, Ciência e Tecnologia de São Paulo – IFSP – é uma autarquia federal de ensino.

Fundada em 1909, como Escola de Aprendizes Artífices, é reconhecida pela sociedade paulista por sua excelência no ensino público gratuito de qualidade.
        </p>
    </article>

    <article class="secao-conteudo-informacoes-ifsp__artigo">
        <p class="secao-conteudo-informacoes-ifsp__artigo__paragrafo">
           Durante seus 105 anos de história, recebeu, também, os nomes de Escola Técnica Federal de São Paulo e Centro Federal de Educação Tecnológica de São Paulo. Com a transformação em Instituto, em dezembro de 2008, passou a ter relevância de universidade, destacando-se pela autonomia.
        </p>
    </article>

    <article class="secao-conteudo-informacoes-ifsp__artigo">
        <p class="secao-conteudo-informacoes-ifsp__artigo__paragrafo">
                Com a mudança, o Instituto Federal de São Paulo passou a destinar 50% das vagas para os cursos técnicos e, no mínimo, 20% das vagas para os cursos de licenciatura, sobretudo nas áreas de Ciências e da Matemática. Complementarmente, continuará oferecendo cursos de formação inicial e continuada, tecnologias, engenharias e pós-graduação.
        </p>
    </article>

    <article class="secao-conteudo-informacoes-ifsp__artigo">
        <p class="secao-conteudo-informacoes-ifsp__artigo__paragrafo">
            Além dos cursos presenciais, o Instituto Federal de São Paulo oferece os cursos Técnicos em Administração e em Informática para Internet e, a partir de 2012, o superior de Formação de Professores na modalidade de Ensino a Distância (EaD).
    </article>

    <article class="secao-conteudo-informacoes-ifsp__artigo">
        <p class="secao-conteudo-informacoes-ifsp__artigo__paragrafo">
            O IFSP é organizado em estrutura multicampi e possui aproximadamente 24 mil alunos matriculados nos 38 campi e mais 4 mil alunos nos 19 polos de educação a distância distribuídos pelo estado de São Paulo.
        </p>
    </article>
</section>

<div class="conteiner__linha conteiner__linha--instituicao"></div>

<section class="secao-inicio secao-inicio--instituicao">
    <h2 class="secao-inicio__titulo secao-inicio__titulo--instituicao">Como chegar<span class="secao-inicio__titulo__cursor">|</span></h2>
</section>

<section class="secao-conteudo-informacoes-ifsp">
    <iframe title="Rota para o IFSP Câmpus Pirituba" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.2428027645583!2d-46.737666285587586!3d-23.487762464762252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef93881f340ff%3A0x61ce926a0465f39e!2sAv.%20Mutinga%2C%20951%20-%20Jardim%20Santo%20Elias%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005110-000!5e0!3m2!1spt-BR!2sbr!4v1655425435079!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <section class="secao-conteudo-informacoes-ifsp__secao">
        <div class="secao-conteudo-informacoes-ifsp__secao__conteiner">
            <p class="secao-conteudo-informacoes-ifsp__secao__conteiner__paragrafo">
                <a title="Clique aqui para acessar a rota para o IFSP Câmpus Pirituba" class="secao-conteudo-informacoes-ifsp__secao__conteiner__paragrafo__link" href="https://www.google.com/maps/place/Av.+Mutinga,+951+-+Jardim+Santo+Elias,+S%C3%A3o+Paulo+-+SP,+05110-000/@-23.487767,-46.735478,16z/data=!4m2!3m1!1s0x94cef93881f340ff:0x61ce926a0465f39e?hl=pt-BR&gl=BR">Endereço: Av. Mutinga, 951 - Pirituba-SP - CEP: 05110-000</a>
            </p>

             <p class="secao-conteudo-informacoes-ifsp__secao__conteiner__paragrafo">
                 <a title="Clique aqui para ligar para o IFSP Câmpus Pirituba" class="secao-conteudo-informacoes-ifsp__secao__conteiner__paragrafo__link" href="tel:+551125040100">Contato: (11) 2504-0100</a>
            </p>
        </div>
    </section>
</section>

<section class="secao-conteudo-informacoes-ifsp">
    <article class="secao-conteudo-informacoes-ifsp__artigo-saiba-mais">
        <h3 class="secao-conteudo-informacoes-ifsp__artigo-saiba-mais__titulo">Saiba mais:</h3>
        <div class="secao-conteudo-informacoes-ifsp__artigo-saiba-mais__conteiner">
            <a title="Clique aqui para acessar o site oficial do IFSP Câmpus Pirituba" class="secao-conteudo-informacoes-ifsp__artigo-saiba-mais__titulo__link" href="https://ptb.ifsp.edu.br/">Clique aqui e acesse o site oficial do IFSP Câmpus Pirituba </a>
        </div>
    </article>
</section>
</main>
{% endblock %}
