{% extends 'base.html' %}  {# Essa página tem sua estrutura no arquivo base.html #}

{% block title %}
<title>Pesquisas | Cyber Security Information</title>
{% endblock %}

{% block class_css_body %} class="corpo--pesquisa" {% endblock %}

{% block content %}

<main class="principal--pesquisa" role="main" tabindex="0">
    <section id="conteudo-principal" class="secao-inicio">
        <h1 class="secao-inicio__titulo secao-inicio__titulo--pesquisa">Pesquisas<span class="secao-inicio__titulo__cursor">|</span></h1>
    </section>

    <section class="secao-conteudo">
        <section class="secao-conteudo-topico">
            <div class="secao-conteudo-topico__conteiner">
                <div class="secao-conteudo-topico__conteiner--linha"></div>
                <h2 class="secao-conteudo-topico__conteiner__titulo">Informações gerais <span class="secao-conteudo-topico__conteiner__titulo__span">sobre a pesquisa</span></h2>
                <div class="secao-conteudo-topico__conteiner--linha"></div>
            </div>
        </section>
        <article class="secao-conteudo__artigo">
            <p class="secao-conteudo__artigo__paragrafo">
                <!-- texto com as informações gerais da pesquisa -->
            </p>

             <p class="secao-conteudo__artigo__paragrafo">
                <!-- texto com as informações gerais da pesquisa -->
            </p>
        </article>

        <section class="secao-conteudo-topico secao-conteudo-topico--espacamento">
            <div class="secao-conteudo-topico__conteiner">
                <div class="secao-conteudo-topico__conteiner--linha"></div>
                <h2 class="secao-conteudo-topico__conteiner__titulo">Principais <span class="secao-conteudo-topico__conteiner__titulo__span">resultados</span></h2>
                <div class="secao-conteudo-topico__conteiner--linha secao-conteudo-topico__conteiner--linha2"></div>
            </div>
        </section>

        <article class="secao-conteudo__artigo">
            <p class="secao-conteudo__artigo__paragrafo--pesquisa">
                <!-- pergunta aqui -->
            </p>
            <div class="secao-conteudo__artigo__conteiner">
                <!-- colocar o id do gráfico nesta div -->
            </div>
            <article class="secao-conteudo__artigo">
                <p class="secao-conteudo__artigo__paragrafo">
                    <!-- espaço para a nossa análise -->
                </p>
            </article>
        </article>

         <article class="secao-conteudo__artigo secao-conteudo__artigo--espacamento">
            <p class="secao-conteudo__artigo__paragrafo--pesquisa">
                <!-- pergunta aqui -->
            </p>
            <div class="secao-conteudo__artigo__conteiner"></div>
            <article class="secao-conteudo__artigo">
                <p class="secao-conteudo__artigo__paragrafo">
                    <!-- espaço para a nossa análise -->
                </p>
            </article>
        </article>

         <section class="secao-conteudo-topico secao-conteudo-topico--espacamento">
            <div class="secao-conteudo-topico__conteiner">
                <div class="secao-conteudo-topico__conteiner--linha"></div>
                <h2 class="secao-conteudo-topico__conteiner__titulo">Resumo dos <span class="secao-conteudo-topico__conteiner__titulo__span">dados obtidos</span></h2>
                <div class="secao-conteudo-topico__conteiner--linha secao-conteudo-topico__conteiner--linha3"></div>
            </div>
        </section>

        <section class="secao-conteudo-topico--cards">
            <ul class="seca-conteudo-topico--cards__lista">
                <li class="seca-conteudo-topico--cards__lista__item">
                    <article class="seca-conteudo-topico--cards__lista__item__artigo">
                        <!-- texto do resumo -->
                    </article>
                </li>
                <li class="seca-conteudo-topico--cards__lista__item">
                    <article class="seca-conteudo-topico--cards__lista__item__artigo">
                        <!-- texto do resumo -->
                    </article>
                </li>
                <li class="seca-conteudo-topico--cards__lista__item">
                    <article class="seca-conteudo-topico--cards__lista__item__artigo">
                        <!-- texto do resumo -->
                    </article>
                </li>
                <li class="seca-conteudo-topico--cards__lista__item">
                    <article class="seca-conteudo-topico--cards__lista__item__artigo">
                        <!-- texto do resumo -->
                    </article>
                </li>
            </ul>
        </section>
    </section>
</main>
{% endblock %}