{% extends 'base.html' %}  {# Essa página tem sua estrutura no arquivo base.html #}

{% block meta-descricao %}
<meta name="description" content="Política de Privacidade do site Cyber Security Information">
{% endblock %}

{% block meta-keys %}
<meta name="keywords" content="Política de privacidade">
{% endblock %}

{% block title %}
<title>Política de Privacidade | Cyber Security Information</title>
{% endblock %}

{% block class_css_body %} class="corpo--politica-de-privacidade" {% endblock %}

{% block content %}

<main class="principal--documentos" role="main" tabindex="0">
    <section id="conteudo-principal" class="secao-inicio secao-inicio--documentos">
        <h1 class="secao-inicio__titulo--documentos">
            Política de Privacidade<span class="secao-inicio__titulo__cursor">|</span>
        </h1>
    </section>

    <div class="conteiner__linha"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">Seção 1 </span>- Informações Gerais
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                A presente Política de Privacidade contém informações sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais dos usuários e visitantes da aplicação web Cyber Security Information, com a finalidade de demonstrar absoluta transparência quanto ao assunto e esclarecer a todos interessados sobre os tipos de dados que são coletados, os motivos da coleta e a forma como os usuários podem gerenciar ou excluir as suas informações pessoais.
            </p>
        </article>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Esta Política de Privacidade aplica-se a todos os usuários e visitantes da aplicação web Cyber Security Information e integra os <a href="{% url 'termos-de-uso' %}" class="secao-conteudo-documentos__artigo__paragrafo__link" title="Clique aqui para acessar os termos de uso da aplicação">Termos de Uso</a> da aplicação.
            </p>
        </article>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Além disso, é válido ressaltar que os representantes da aplicação web Cyber Security Information não solicitam informações pessoais aos usuários da aplicação.
            </p>
        </article>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                O presente documento foi elaborado em conformidade com a Lei Geral de Proteção de Dados Pessoais (Lei 13.709). Ainda, o documento poderá ser atualizado em decorrência de eventual atualização normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.
            </p>
        </article>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                O uso continuado da aplicação web será considerado como a aceitação das práticas mencionadas neste documento. Ademais, no caso da existência ou permanência de dúvidas acerca do tratamento dos seus dados pessoais, o usuário poderá entrar em contato com o suporte.            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">Seção 2 </span>- Como Coletamos os Dados Pessoais do Usuário?
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Os dados pessoais do usuário são recolhidos pela plataforma da seguinte maneira:
            </p>

            <ul class="secao-conteudo-documentos__artigo__lista">
                <li class="secao-conteudo-documentos__artigo__lista__item">
                    <p class="secao-conteudo-documentos__artigo__lista__item__paragrafo">
                        Quando o usuário aciona o suporte da aplicação: esses dados são dados básicos para contato, como número de telefone e e-mail. Outrossim, esses dados permitem o tratamento da sugestão, dúvida, reporte de erros ou reclamação do usuário.
                    </p>
                </li>
                <li class="secao-conteudo-documentos__artigo__lista__item">
                    <p class="secao-conteudo-documentos__artigo__lista__item__paragrafo">
                        Quando o usuário se cadastra para receber a <em>newsletter</em> da aplicação web Cyber Security Information: esses dados servem para o envio dos e-mails de notificações sobre a atualização dos conteúdos na aplicação.
                    </p>
                </li>
            </ul>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">Seção 3 </span>- Quais Dados Pessoais Coletamos Sobre o Usuário?
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Os dados pessoais recolhidos do usuário são os seguintes:
            </p>

            <ul class="secao-conteudo-documentos__artigo__lista">
                <li class="secao-conteudo-documentos__artigo__lista__item">
                    <p class="secao-conteudo-documentos__artigo__lista__item__paragrafo">
                        Dados para <em>newsletter</em>: nome e e-mail para recebimento dos e-mails da newsletter de Cibersegurança
                    </p>
                </li>
                <li class="secao-conteudo-documentos__artigo__lista__item">
                    <p class="secao-conteudo-documentos__artigo__lista__item__paragrafo">
                        Dados para contato: nome, e-mail e número de celular, no caso do usuário acionar o suporte da aplicação web Cyber Security Information.
                    </p>
                </li>
            </ul>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">Seção 4 </span>- Com Qual Finalidade Utilizamos os Dados Pessoais do Usuário?
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Os dados pessoais do usuário coletados e armazenados pelo aplicativo tem por finalidade:
            </p>

            <ul class="secao-conteudo-documentos__artigo__lista">
                <li class="secao-conteudo-documentos__artigo__lista__item">
                    <p class="secao-conteudo-documentos__artigo__lista__item__paragrafo">
                        Para o envio de e-mails de notificação sobre a postagem de novos conteúdos na aplicação web.
                    </p>
                </li>
                <li class="secao-conteudo-documentos__artigo__lista__item">
                    <p class="secao-conteudo-documentos__artigo__lista__item__paragrafo">
                        Para o tratamento da sugestão, crítica, dúvida, reporte de erros ou reclamação do usuário através do e-mail e/ou do whatsapp do suporte.
                    </p>
                </li>
            </ul>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">Seção 5 </span>- Por Quanto Tempo os Dados Pessoais Ficam Armazenados?
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Os dados pessoais do usuário, relacionados à <em>newsletter</em>, são armazenados pela aplicação durante o período necessário para a prestação do serviço ou o cumprimento das finalidades previstas no presente documento, conforme o disposto no inciso I do artigo 15 da Lei 13.709/18. Esses dados podem ser removidos a pedido do usuário, excetuando os casos em que a lei oferecer outro tratamento.
            </p>
        </article>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Outrossim, os dados pessoais do usuário, relacionados ao suporte, ficam armazenados no serviço de webmail utilizado pelo suporte somente durante o período necessário para o tratamento da solicitação/reclamação do usuário.
            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">Seção 6 </span>- Segurança dos Dados Pessoais Armazenados
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                A Cyber Security Information se exime de responsabilidade por culpa exclusiva de terceiro, como em caso de ataque de crackers, ou culpa exclusiva do usuário, como no caso em que ele mesmo transfere seus dados a terceiros. A aplicação compromete-se em comunicar o usuário no caso de alguma violação de segurança dos seus dados pessoais.
            </p>
        </article>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Os dados pessoais armazenados são tratados com confidencialidade, dentro dos limites legais. No entanto, podemos divulgar suas informações pessoais caso sejamos obrigados pela lei para fazê-lo ou se você violar nossos Termos de Uso.            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">Seção 7 </span>- Compartilhamento de Dados Pessoais
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Os dados pessoais não podem ser compartilhados com terceiros.
            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">Seção 8 </span>- Compromisso
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                O usuário se compromete a fazer uso adequado dos conteúdos e da informação que a aplicação web Cyber Security Information oferece, e com caráter enunciativo, mas não limitativo:
            </p>

            <ul class="secao-conteudo-documentos__artigo__lista">
                <li class="secao-conteudo-documentos__artigo__lista__item">
                    <p class="secao-conteudo-documentos__artigo__lista__item__paragrafo">
                        Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;
                    </p>
                </li>
                <li class="secao-conteudo-documentos__artigo__lista__item">
                    <p class="secao-conteudo-documentos__artigo__lista__item__paragrafo">
                        Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, apostas online ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;
                    </p>
                </li>
                <li class="secao-conteudo-documentos__artigo__lista__item">
                    <p class="secao-conteudo-documentos__artigo__lista__item__paragrafo">
                        Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) da aplicação Cyber Security Information para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas que sejam capazes de causar danos anteriormente mencionados.
                    </p>
                </li>
            </ul>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">Seção 9 </span>- Consentimento
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Ao utilizar os serviços e fornecer as informações pessoais na plataforma, o usuário está consentindo com a presente Política de Privacidade.
            </p>
        </article>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                O usuário, ao utilizar a aplicação web Cyber Security Information, está ciente de que ela pode ter links para sites externos que não são operados pelos seus representantes. Logo, o usuário deve ter pleno consentimento de que a aplicação web não tem controle sobre o conteúdo e práticas desses sites e não pode aceitar responsabilidade por suas respectivas políticas de privacidade.
            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">Seção 10 </span>- Alterações para Essa Política de Privacidade
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                A aplicação Cyber Security Information reserva o direito de modificar essa Política de Privacidade a qualquer momento, então, é recomendável que o usuário revise-a com frequência.            </p>
        </article>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                As alterações e esclarecimentos vão surtir efeito imediatamente após sua publicação na plataforma. Quando realizadas alterações os usuários não serão notificados. Ao utilizar o serviço ou fornecer informações pessoais após eventuais modificações, o usuário e visitante demonstra sua concordância com as novas normas.             </p>
        </article>
    </section>
</main>

{% endblock %}
