{% extends 'base.html' %}  {# Essa página tem sua estrutura no arquivo base.html #}

{% block meta-descricao %}
<meta name="description" content="Termos de uso do site Cyber Security Information">
{% endblock %}

{% block meta-keys %}
<meta name="keywords" content="Termos de uso">
{% endblock %}

{% block title %}
<title>Termos de Uso | Cyber Security Information</title>
{% endblock %}

{% block class_css_body %} class="corpo--termos-de-uso" {% endblock %}

{% block content %}

<main class="principal--documentos" tabindex="0">
    <section id="conteudo-principal" class="secao-inicio secao-inicio--documentos">
        <h1 class="secao-inicio__titulo--documentos">
            Termos de Uso<span class="secao-inicio__titulo__cursor">|</span>
        </h1>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos-espacamento"></div>

    <section class="secao-conteudo-documentos">
        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Ao utilizar a aplicação web Cyber Security Information, o usuário concorda em cumprir estes termos de serviço e todas as leis e regulamentos aplicáveis. No caso do usuário não consentir com algum desses termos, esse estará proibido de utilizar ou acessar esta aplicação web.             </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">1. </span>Do Objeto
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                A aplicação web caracteriza-se pela prestação do seguinte serviço: disponibilizar, de maneira acessível para todos os públicos - incluindo crianças, idosos e pessoas com deficiências, conteúdos e ferramentas acerca da Cibersegurança. Nesse sentido, a aplicação expõe artigos explicativos sobre conceitos importantes da área, tutoriais, em diversos tipos de mídias, para a aplicação dos conteúdos abordados nos artigos e ferramentas para o fortalecimento da segurança dos usuários.
            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">2. </span>Do Acesso dos Usuários
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Serão utilizadas soluções técnicas à disposição dos responsáveis pela aplicação para permitir o acesso 24 (vinte e quatro) horas por dia, 7 (sete) dias por semana.  No entanto, a navegação na aplicação web ou em alguma de suas páginas poderá ser interrompida, limitada ou suspensa para atualizações, modificações ou qualquer ação necessária ao seu bom funcionamento.
            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">3. </span>Do Suporte
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Em caso de qualquer dúvida, sugestão ou problema com a utilização da aplicação Cyber Security Information, o usuário poderá entrar em contato com o suporte, através do email <a href="mailto:suportecybersec@gmail.com" class="secao-conteudo-documentos__artigo__paragrafo__link" title="Clique aqui para enviar um e-mail para o suporte do Cyber Security Information">suportecybersec@gmail.com.</a>
            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">4. </span>Das Responsabilidades
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                É de responsabilidade do usuário a correta utilização da plataforma e dos serviços oferecidos, o cumprimento e respeito ao conjunto de regras disposto neste Termo de de Uso, na respectiva Política de Privacidade e na legislação nacional e internacional.
            </p>
        </article>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Não poderão ser incluídos links externos ou páginas que sirvam para fins comerciais ou publicitários ou quaisquer informações ilícitas, violentas, polêmicas, pornográficas, xenofóbicas, discriminatórias ou ofensivas.
            </p>
        </article>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                É de responsabilidade da aplicação web Cyber Security Information a indicação das características do serviço ou produto. Com isso, a aplicação não se responsabiliza por links externos contidos em suas páginas que possam redirecionar o usuário a algum ambiente externo.
            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">5. </span>Das Limitações
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Em nenhum caso a aplicação web Cyber Security Information será responsável por quaisquer danos (incluindo, sem limitação, danos por perda de dados) decorrentes do uso ou da incapacidade de usar os materiais na aplicação, mesmo que um representante autorizado da Cyber Security Information tenha sido notificado oralmente ou por escrito da possibilidade de tais danos. Como algumas jurisdições não permitem limitações em garantias implícitas, ou limitações de responsabilidade por danos consequentes ou incidentes, essas limitações podem não se aplicar ao usuário.
            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">6. </span>Da Precisão dos Materiais
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Os materiais exibidos na aplicação web Cyber Security Information podem incluir erros técnicos, tipográficos ou fotográficos. No caso da percepção de alguma imprecisão, o usuário pode acionar o suporte da aplicação. Outrossim, a Cyber Security Information pode fazer alterações nos materiais a qualquer momento, sem aviso prévio.
            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">7. </span>Dos Links
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                O uso de qualquer site fora do domínio <a href="https://www.ciberseguranca.info" class="secao-conteudo-documentos__artigo__paragrafo__link" title="Clique aqui e acesse o site do Cyber Security Information">www.ciberseguranca.info</a>, mesmo que haja link para o site nas páginas da aplicação Cyber Security Information, é por conta e risco do usuário.
            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">8. </span>Das Alterações
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Os itens descritos no presente instrumento poderão sofrer alterações, unilateralmente e a qualquer tempo, por parte da Cyber Security Information, para adequar ou modificar os serviços, bem como para atender novas exigências legais. As alterações não serão notificadas, portanto, cabe ao usuário revisar este documento com frequência.
            </p>
        </article>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Ao usar a aplicação web, o usuário concorda em ficar vinculado à versão atual destes termos de serviço.
            </p>
        </article>
    </section>

    <div class="conteiner__linha conteiner__linha--documentos"></div>

    <section class="secao-conteudo-documentos">
        <div class="secao-conteudo-documentos__conteiner">
            <h2 class="secao-conteudo-documentos__conteiner__titulo">
                <span class="secao-conteudo-documentos__conteiner__titulo--cor">9. </span>Da Política de Privacidade
            </h2>
        </div>

        <article class="secao-conteudo-documentos__artigo">
            <p class="secao-conteudo-documentos__artigo__paragrafo">
                Além do presente Termo, o usuário deverá consentir com as disposições contidas na respectiva <a href="{% url 'politica-de-privacidade' %}" class="secao-conteudo-documentos__artigo__paragrafo__link" title="Clique aqui para acessar a política de privacidade da aplicação">Política de Privacidade</a> da aplicação Cyber Security Information.
            </p>
        </article>
    </section>
</main>

{% endblock %}
