{% extends 'base.html' %}  {# Essa página tem sua estrutura no arquivo base.html #}
{% load static %}

{% block meta-descricao %}
<meta name="description" content="Conheça os benefícios e as funcionalidades do nosso app exclusivo, o Digital Authenticator. Baixe agora na Play Store.">
{% endblock %}

{% block meta-keys %}
<meta name="keywords" content="Aplicativo, Cibersegurança, Digital Authenticator, Gerenciador de Senhas">
{% endblock %}

{% block title %}
<title>Nosso App | Cyber Security Information</title>
{% endblock %}

{% block class_css_body %} class="corpo--nosso-app" {% endblock %}

{% block content %}

<main class="principal__nosso-app" tabindex="0">
    <section class="secao__inicio--nosso-app" id="conteudo-principal">
        <div class="secao__inicio--nosso-app__conteiner">
            <h1 class="secao__inicio--nosso-app__conteiner__titulo">Digital Authenticator<span class="secao-inicio__titulo__cursor">|</span></h1>
            <div class="conteiner__linha"></div>
        </div>
    </section>

    <section class="secao__subtitulo">
        <h2 class="secao__subtitulo__titulo">Armazene seus dados com <span class="secao__subtitulo__titulo__span">segurança!</span></h2>
    </section>

    <div class="conteiner-imagem-mobile"></div>

    <section class="secao__informacoes">
        <ul class="secao__informacoes__lista">
            <li class="secao__informacoes__lista__item">
                <h3 class="secao__informacoes__lista__item__titulo">Funcionalidades</h3>
                <div class="secao__informacoes__lista__item--imagem-cadeado"></div>
                <div class="secao__informacoes__lista__item__conteiner">
                    <div class="secao__informacoes__lista__item__imagem--primeira-imagem"></div>
                    <article class="secao__informacoes__lista__item__artigo">
                        <h4 class="secao__informacoes__lista__item__artigo__titulo">
                            <span class="secao__informacoes__lista__item__artigo__titulo__span">Armazenamento </span>
                            de informações sensíveis de <span class="secao__informacoes__lista__item__artigo__titulo__span">forma segura</span>
                        </h4>
                        <p class="secao__informacoes__lista__item__artigo__paragrafo">
                            O aplicativo armazena informações em forma de texto, de forma confidencial e segura, através da  presença da criptografia AES-128.
                        </p>
                    </article>
                </div>
            </li>
            <li class="secao__informacoes__lista__item">
                <div class="secao__informacoes__lista__item--imagem-autenticacao"></div>
                <div class="secao__informacoes__lista__item__conteiner--invertido">
                    <div class="secao__informacoes__lista__item__imagem--segunda-imagem"></div>

                    <article class="secao__informacoes__lista__item__artigo secao__informacoes__lista__item__artigo--invertido">
                        <h4 class="secao__informacoes__lista__item__artigo__titulo">
                            <span class="secao__informacoes__lista__item__artigo__titulo__span">Autenticação Por Múltiplos Fatores</span>
                        </h4>
                        <p class="secao__informacoes__lista__item__artigo__paragrafo">
                            Para que as informações permaneçam seguras, o aplicativo possui a autenticação por múltiplos fatores, através da necessidade de login e senha, além da presença da leitura biométrica.
                        </p>
                    </article>
                </div>
            </li>
            <li class="secao__informacoes__lista__item">
                <div class="secao__informacoes__lista__item--imagem-gerador"></div>
                <div class="secao__informacoes__lista__item__conteiner">
                    <div class="secao__informacoes__lista__item__imagem--terceira-imagem"></div>

                    <article class="secao__informacoes__lista__item__artigo">
                        <h4 class="secao__informacoes__lista__item__artigo__titulo">
                            <span class="secao__informacoes__lista__item__artigo__titulo__span">Gerador de Senhas Seguras</span>
                        </h4>
                        <p class="secao__informacoes__lista__item__artigo__paragrafo">
                            Para que as pessoas consigam aplicar a cibersegurança em suas contas nas mais variadas plataformas, o Digital Authenticator fornece um gerador de senhas.
                        </p>
                    </article>
                </div>
            </li>
            <li class="secao__informacoes__lista__item">
                <div class="secao__informacoes__lista__item--imagem-manual"></div>
                <div class="secao__informacoes__lista__item__conteiner--invertido">
                    <div class="secao__informacoes__lista__item__imagem--quarta-imagem"></div>

                    <article class="secao__informacoes__lista__item__artigo secao__informacoes__lista__item__artigo--invertido">
                        <h4 class="secao__informacoes__lista__item__artigo__titulo">
                            <span class="secao__informacoes__lista__item__artigo__titulo__span">Manual de Cibersegurança</span>
                        </h4>
                        <p class="secao__informacoes__lista__item__artigo__paragrafo">
                            Para democratizar o conhecimento da cibersegurança, o aplicativo fornece um manual com definições rápidas sobre os principais itens desse tema.
                        </p>
                    </article>
                </div>
            </li>
        </ul>
    </section>

    <section class="linha">
        <div class="conteiner__linha"></div>
    </section>

    <section class="secao__baixar">
        <h5 class="secao__baixar__titulo">Baixe agora no seu celular!</h5>
        <a href="#" class="secao__baixar__link" title="Clique aqui para baixar no seu celular o nosso aplicativo">
            <img class="secao__baixar__link__imagem" src="{% static '/assets/img/imagem_play_store.webp' %}" alt="Ícone da Play Store">
        </a>
    </section>
</main>
{% endblock %}
