{% extends 'base.html' %}

{% block title %}
<title>Artigo | Cyber Security Information</title>
{% endblock %}


{% block class_css_body %} class="corpo__artigo" {% endblock %}

{% block content %}
<a class="link-conteudo-principal" href="#conteudo-principal">Pular para o conteúdo principal</a>
<main class="principal-artigo" role="main" tabindex="0">
<section class="secao-caminho-artigo">
    <a class="secao-caminho-artigo__link" href="#">Conceitos</a> > <p class="secao-caminho-artigo__paragrafo">Área do Artigo</p>
</section>

<section id="conteudo-principal" class="secao-inicio-artigo">
    <h1 class="secao-inicio-artigo__titulo secao-inicio__titulo">Título</h1>
    <div class="secao-inicio-artigo__conteiner">
        <img class="secao-inicio-artigo__conteiner__imagem" src="" alt="Capa do artigo sobre 'Área do Artigo'">
    </div>
</section>

<section class="secao-informacoes-artigo">
    <div class="secao-informacoes-artigo__conteiner--leitura-data">
        <time class="secao-informacoes-artigo__tempo">03 de junho de 2022</time> <span class="secao-informacoes-artigo__span"> | </span>
        <p class="secao-informacoes-artigo__paragrafo">X minutos de leitura</p>
    </div>

    <div class="secao-informacoes-artigo__conteiner--redes-sociais">
        <ul class="secao-informacoes-artigo__conteiner--redes-sociais__lista">
            <li class="secao-informacoes-artigo__conteiner--redes-sociais__lista__item">
                <a class="secao-informacoes-artigo__conteiner--redes-sociais__lista__item__link" href="#" title="Compartilhar no feed do Instagram"><img class="secao-informacoes-artigo__conteiner--redes-sociais__lista__item__link__imagem" src="../static/assets/img/icone_instagram.svg" alt="Ícone do Instagram para compartilhar esse artigo no feed"></a>
            </li>
            <li class="secao-informacoes-artigo__conteiner--redes-sociais__lista__item">
                <a class="secao-informacoes-artigo__conteiner--redes-sociais__lista__item__link" href="#" title="Compartilhar no feed do Facebook"><img class="secao-informacoes-artigo__conteiner--redes-sociais__lista__item__link__imagem" src="../static/assets/img/icone_facebook.svg" alt="Ícone do Facebook para compartilhar esse artigo no feed"></a>
            </li>
            <li class="secao-informacoes-artigo__conteiner--redes-sociais__lista__item">
                <a class="secao-informacoes-artigo__conteiner--redes-sociais__lista__item__link" href="#" title="Compartilhar via WhatsApp"><img class="secao-informacoes-artigo__conteiner--redes-sociais__lista__item__link__imagem" src="../static/assets/img/icone_whatsapp.svg" alt="Ícone do WhatsApp para compartilhar esse artigo em alguma conversa"></a>
            </li>
        </ul>
    </div>
</section>

<div class="conteiner__linha"></div>

<section class="secao-conteudo">
    <article class="secao-conteudo-inicio__artigo">
        <h2 class="secao-conteudo-inicio__artigo__titulo">Subtitulo</h2>
    </article>
    <article class="secao-conteudo__artigo">
        <p class="secao-conteudo__artigo__paragrafo">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque lorem ut eros semper, ut elementum ipsum rutrum. Donec vitae dictum nunc, ut sodales nulla. Ut interdum leo vitae ipsum feugiat lobortis. Mauris eu scelerisque mauris, rhoncus egestas turpis. Nullam elit nisi, tincidunt malesuada scelerisque vitae, consequat ut diam. Nullam vitae ante vel neque aliquet dapibus. Nam sed egestas ipsum, eu accumsan tellus.
            Donec eu ornare erat. Phasellus lacinia quis lacus vitae aliquam. Nam ut turpis dolor. Nulla eget lorem id odio volutpat tristique. Aliquam blandit sit amet turpis vel imperdiet. Etiam ut odio sit amet eros luctus convallis a in lectus. Vestibulum eu enim tincidunt, tincidunt ligula a, imperdiet enim. Vivamus eleifend posuere massa. Duis dictum malesuada velit, non venenatis nibh blandit a. Pellentesque vel urna eleifend, vestibulum urna ut, bibendum dui.
        </p>
    </article>

     <article class="secao-conteudo-inicio__artigo">
        <h2 class="secao-conteudo-inicio__artigo__titulo">Subtitulo</h2>
    </article>

    <article class="secao-conteudo__artigo">
        <p class="secao-conteudo__artigo__paragrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque lorem ut eros semper, ut elementum ipsum rutrum. Donec vitae dictum nunc, ut sodales nulla.</p>
        <ul class="secao-conteudo-artigo__paragrafo__lista">
            <li class="secao-conteudo-artigo__paragrafo__lista__item">Donec eu ornare erat. Phasellus lacinia quis lacus vitae aliquam. </li>
            <li class="secao-conteudo-artigo__paragrafo__lista__item">Nam ut turpis dolor. Nulla eget lorem id odio volutpat tristique.  </li>
            <li class="secao-conteudo-artigo__paragrafo__lista__item">Aliquam blandit sit amet turpis vel imperdiet.</li>
            <li class="secao-conteudo-artigo__paragrafo__lista__item">Etiam ut odio sit amet eros luctus convallis a in lectus. </li>
        </ul>
        <p class="secao-conteudo__artigo__paragrafo">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque lorem ut eros semper, ut elementum ipsum rutrum. Donec vitae dictum nunc, ut sodales nulla. Ut interdum leo vitae ipsum feugiat lobortis. Mauris eu scelerisque mauris, rhoncus egestas turpis. Nullam elit nisi, tincidunt malesuada scelerisque vitae, consequat ut diam. Nullam vitae ante vel neque aliquet dapibus. Nam sed egestas ipsum, eu accumsan tellus.
        </p>
        <p class="secao-conteudo__artigo__paragrafo">
        Donec eu ornare erat. Phasellus lacinia quis lacus vitae aliquam. Nam ut turpis dolor. Nulla eget lorem id odio volutpat tristique. Aliquam blandit sit amet turpis vel imperdiet. Etiam ut odio sit amet eros luctus convallis a in lectus. Vestibulum eu enim tincidunt, tincidunt ligula a, imperdiet enim. Vivamus eleifend posuere massa. Duis dictum malesuada velit, non venenatis nibh blandit a. Pellentesque vel urna eleifend, vestibulum urna ut, bibendum dui.
        </p>
    </article>

    <article class="secao-conteudo__artigo-referencias">
        <h3 class="secao-conteudo__artigo-referencias__titulo">Referências bibilográficas</h3>
        <ul class="secao-conteudo__artigo-referencias__lista">
            <li class="secao-conteudo__artigo-referencias__lista__item"><a class="secao-conteudo__artigo-referencias__lista__item__link" href="#">Donec eu ornare erat. Phasellus lacinia quis lacus vitae aliquam.</a></li>
            <li class="secao-conteudo__artigo-referencias__lista__item"><a class="secao-conteudo__artigo-referencias__lista__item__link" href="#">Nam ut turpis dolor. Nulla eget lorem id odio volutpat tristique.</a></li>
            <li class="secao-conteudo__artigo-referencias__lista__item"><a class="secao-conteudo__artigo-referencias__lista__item__link" href="#">Aliquam blandit sit amet turpis vel imperdiet.</a></li>
            <li class="secao-conteudo__artigo-referencias__lista__item"><a class="secao-conteudo__artigo-referencias__lista__item__link" href="#">Etiam ut odio sit amet eros luctus convallis a in lectus.</a></li>
        </ul>
    </article>
</section>
</main>
<div class="conteiner__linha-artigos-relacionados"></div>
<section class="secao-artigos-relacionados" tabindex="0">
    <h4 class="secao-artigos-relacionados__titulo">Artigos relacionados</h4>
    <ul class="secao-artigos-relacionados__lista">
        <li class="secao-artigos-relacionados__lista__item">
            <a class="secao-artigos-relacionados__lista__item__link" href="#">
                <div class="secao-artigos-relacionados__lista__item__link__conteiner">
                    <img class="secao-artigos-relacionados__lista__item__link__conteiner__imagem" src="" alt="Capa do artigo sobre 'Área do Artigo'">
                </div>
                <h5 class="secao-artigos-relacionados__lista__item__link__titulo">Título</h5>
                <article class="secao-artigos-relacionados__lista__item__link__artigo">
                    Donec eu ornare erat. Phasellus lacinia quis lacus vitae aliquam. Nam ut turpis dolor. Nulla eget lorem id odio volutpat tristique. Aliquam blandit sit amet turpis vel imperdiet. Etiam ut odio sit amet eros luctus convallis a in lectus.
                </article>
            </a>
        </li>
        <li class="secao-artigos-relacionados__lista__item">
            <a class="secao-artigos-relacionados__lista__item__link" href="#">
                <div class="secao-artigos-relacionados__lista__item__link__conteiner">
                    <img class="secao-artigos-relacionados__lista__item__link__conteiner__imagem" src="" alt="Capa do artigo sobre 'Área do Artigo'">
                </div>
                <h5 class="secao-artigos-relacionados__lista__item__link__titulo">Título</h5>
                <article class="secao-artigos-relacionados__lista__item__link__artigo">
                    Donec eu ornare erat. Phasellus lacinia quis lacus vitae aliquam. Nam ut turpis dolor. Nulla eget lorem id odio volutpat tristique. Aliquam blandit sit amet turpis vel imperdiet. Etiam ut odio sit amet eros luctus convallis a in lectus.
                </article>
            </a>
        </li>
    </ul>
</section>
{% endblock %}

