{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if categoria == 'redes-sociais' %}
<title>Tutoriais - Redes Sociais | Cyber Security Information</title>
{% elif categoria == 'navegadores' %}
<title>Tutoriais - Navegadores | Cyber Security Information</title>
{% elif categoria == 'celulares' %}
<title>Tutoriais - Celulares | Cyber Security Information</title>
{% else %}
<title>Tutoriais - Computadores | Cyber Security Information</title>
{% endif %}
{% endblock %}


{% block class_css_body %} class="corpo--pagina-categoria-tutoriais" {% endblock %}

{% block content %}

<main class="principal--pagina-categoria-tutoriais" role="main" tabindex="0">
  <section id="conteudo-principal" class="secao-inicio--pagina-categoria-tutoriais">
    <div class="secao-inicio--pagina-categoria-tutoriais__conteiner">
      <div class="secao-inicio--pagina-categoria-tutoriais__conteiner__titulo">
        <h1>
          Tutoriais Para
          {% if categoria == 'redes-sociais' %}
          <span class="secao-inicio--pagina-categoria-tutoriais__conteiner__titulo__span titulo-categoria-tutoriais-span-redes-sociais">Redes Sociais</span>
          {% elif categoria == 'navegadores' %}
          <span class="secao-inicio--pagina-categoria-tutoriais__conteiner__titulo__span titulo-categoria-tutoriais-span-navegadores">Navegadores</span>
          {% elif categoria == 'celulares' %}
          <span class="secao-inicio--pagina-categoria-tutoriais__conteiner__titulo__span titulo-categoria-tutoriais-span-celulares">Celulares</span>
          {% else %}
          <span class="secao-inicio--pagina-categoria-tutoriais__conteiner__titulo__span titulo-categoria-tutoriais-span-computadores">Computadores</span>
          {% endif %}
        </h1>
      </div>

      <div class="secao-inicio--pagina-categoria-tutoriais__conteiner--input">
        <form action="">
          <label for="pesquisa-tutorial" class="secao-inicio--pagina-categoria-tutoriais__conteiner--input__label">
            <input type="search" id="pesquisa-tutorial" class="secao-inicio--pagina-categoria-tutoriais__conteiner--input__label__input" placeholder="Pesquisar por tutorial...">
          </label>
        </form>
      </div>
    </div>
  </section>

  <section class="secao-tutoriais--pagina-categoria-tutoriais">
    <ul class="secao-tutoriais--pagina-categoria-tutoriais__lista">
      {% for tutorial in tutoriais_por_categoria %}
      <li class="secao-tutoriais--pagina-categoria-tutoriais__lista__item animacao">
        <a href="{% url 'tutorial' tutorial.categoria tutorial.titulo_para_url %}" class="secao-tutoriais--pagina-categoria-tutoriais__lista__item__link">
          <h2 class="secao-tutoriais--pagina-categoria-tutoriais__lista__item__link__titulo">
            {{ tutorial.titulo }}
          </h2>
          <div class="secao-tutoriais--pagina-categoria-tutoriais__lista__item__link__conteiner">
            <img class="secao-tutoriais--pagina-categoria-tutoriais__lista__item__link__conteiner__imagem" src="{{ tutorial.capa.url }}" alt="Capa do Tutorial">
          </div>
          <section class="secao-tutoriais--pagina-categoria-tutoriais__lista__item__link__secao">
            <div class="secao-tutoriais--pagina-categoria-tutoriais__lista__item__link__secao__conteiner-minutos-leitura">
              <p class="secao-tutoriais--pagina-categoria-tutoriais__lista__item__link__secao__conteiner-minutos-leitura__paragrafo">
                {{ tutorial.tempo_de_leitura }} min.
              </p>
            </div>
            <div class="secao-tutoriais--pagina-categoria-tutoriais__lista__item__link__secao__conteiner-minutos-video">
              <p class="secao-tutoriais--pagina-categoria-tutoriais__lista__item__link__secao__conteiner-minutos-video__paragrafo">
                {{ tutorial.tempo_de_video }} min.
              </p>
            </div>
          </section>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>

<section class="secao-paginacao">
    <nav class="secao-paginacao__navegacao">
        {% if tutoriais_por_categoria.has_other_pages %}
            {% if tutoriais_por_categoria.has_previous %}
                <a href="?page={{ tutoriais_por_categoria.previous_page_number }}" class="secao-paginacao__navegacao__link-voltar"></a>
            {% else %}
                <a href="#" style="display: none" class="secao-paginacao__navegacao__link-voltar" title="Ir para a página anterior"></a>
            {% endif %}

            <p class="secao-paginacao__navegacao__paragrafo">Página {{ tutoriais_por_categoria.number }} de {{ paginas }}</p>
            {% if tutoriais_por_categoria.has_next %}
                <a href="?page={{ tutoriais_por_categoria.next_page_number }}" class="secao-paginacao__navegacao__link-avancar"></a>
            {% else %}
                <a href="#" style="display: none" class="secao-paginacao__navegacao__link-avancar" title="Ir para a próxima página"></a>
            {% endif %}
       {% endif %}
   </nav>
</section>
</main>
{% endblock %}
