{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Tutoriais | Cyber Security Information</title>
{% endblock %}

{% block class_css_body %} class="corpo--pagina-geral-de-tutoriais" {% endblock %}

{% block content %}

<main class="principal--pagina-geral-de-tutoriais" role="main" tabindex="0">
  <section id="conteudo-principal" class="secao-inicio--pagina-geral-de-tutoriais">
    <div class="secao-inicio--pagina-geral-de-tutoriais__conteiner">
        <div class="secao-inicio--pagina-geral-de-tutoriais__conteiner--titulo">
            <h1 class="secao-inicio--pagina-geral-de-tutoriais__conteiner__titulo">
                Conheça nossos tutoriais sobre como garantir a cibersegurança em
                <span class="secao-inicio--pagina-geral-de-tutoriais__conteiner__titulo__span"></span><span class="span-acessibilidade" content=" " style="color: transparent; display: flex; font-size: .1rem">computadores, celulares, redes sociais e navegadores</span>
            </h1>
        </div>

        <div class="secao-inicio--pagina-geral-de-tutoriais__conteiner--input">
            <form method="get">
                <label for="pesquisa-tutorial" class="secao-inicio--pagina-geral-de-tutoriais__conteiner--input__label" title="Pesquisar por tutorial...">
                    <input type="search" name="busca" id="pesquisa-tutorial" class="secao-inicio--pagina-geral-de-tutoriais__conteiner--input__label__input" placeholder="Pesquisar por tutorial...">
                </label>
            </form>
        </div>
    </div>

    <section class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes">
    <div class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes__conteiner-margem">
        <h2 class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes__titulo">
            Tutoriais <span class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes__titulo__span">recentes</span>
        </h2>
        <div class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes__conteiner--linha"></div>
    </div>

      <section data-secao-carrossel class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes-cards">
        <ul data-lista-carrossel class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes-cards__lista">
          {% for tutorial in tutoriais_recentes %}
          <li data-artigo-recente="1" class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes-cards__lista__item">
            <a href="{% url 'tutorial' tutorial.categoria tutorial.titulo_para_url %}" class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes-cards__lista__item__link"  title="{{ tutorial.titulo }}">
               <h3 class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes-cards__lista__item__link__titulo">
                 {{ tutorial.titulo }}
               </h3>

               <div class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes-cards__lista__item__link__conteiner">
                 <img class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes-cards__lista__item__link__conteiner__imagem" src="{{ tutorial.capa.url }}" alt="Capa do tutorial">
               </div>

               <section class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes-cards__lista__item__link__secao">
                 <div class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes-cards__lista__item__link__secao__conteiner-minutos-leitura">
                   <p class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes-cards__lista__item__link__secao__conteiner-minutos-leitura__paragrafo">
                     {{ tutorial.tempo_de_leitura }} min.
                   </p>
                 </div>

                 <div class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes-cards__lista__item__link__secao__conteiner-minutos-video">
                   <p class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes-cards__lista__item__link__secao__conteiner-minutos-video__paragrafo">
                     {{ tutorial.tempo_de_video }} min.
                   </p>
                 </div>
               </section>
            </a>
          </li>
          {% endfor %}
        </ul>
      </section>
    </section>
  </section>
  <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais">
    {% if busca %}
    <h2 class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__titulo">
      Tutoriais <span class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__titulo__span">encontrados</span>
    </h2>
    {% else %}
    <h2 class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__titulo">
      Tutoriais <span class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__titulo__span">por categoria</span>
    </h2>
    {% endif %}

    <div class="secao-inicio--pagina-geral-de-tutoriais__secao-tutoriais-recentes__conteiner--linha"></div>

    <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria">
      <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner">
        <a href="{% url 'categoria' 'computadores' %}" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner__link secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner__link--computadores" title="Acesse a página desta categoria de tutoriais">
          Computadores
        </a>

        <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes">
          <button data-botao-computadores="voltar" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao-voltar botao-voltar-computadores" title="Clique aqui para voltar os tutoriais desta categoria"></button>
          <button data-botao-computadores="avancar" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao-avancar botao-avancar-computadores" title="Clique aqui para avançar os tutoriais desta categoria"></button>
        </div>
      </div>
      <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards">
        <ul data-carrossel-lista="computadores" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista">
          {% for tutorial in tutoriais %}
          {% if tutorial.categoria == "computadores" %}
          <li data-carrossel-item="computadores" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item item-atual-carrossel animacao">
            <a href="{% url 'tutorial' tutorial.categoria tutorial.titulo_para_url %}" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link"  title="{{ tutorial.titulo }}">
              <h3 class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__titulo">
                {{ tutorial.titulo }}
              </h3>
              <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__conteiner">
                <img class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__conteiner__imagem" src="{{ tutorial.capa.url }}" alt="Capa do tutorial">
              </div>
              <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao">
                <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-leitura">
                  <p class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-leitura__paragrafo">
                    {{ tutorial.tempo_de_leitura }} min.
                  </p>
                </div>
                <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-video">
                  <p class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-video__paragrafo">
                    {{ tutorial.tempo_de_video }} min.
                  </p>
                </div>
              </section>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </section>
    </section>
    <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria--espacamento">
      <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner">
        <a href="{% url 'categoria' 'celulares' %}" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner__link secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner__link--celulares" title="Acesse a página desta categoria de tutoriais">
           Celulares
        </a>

        <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes">
          <button data-botao-celulares="voltar" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao-voltar botao-voltar-celulares" title="Clique aqui para voltar os tutoriais desta categoria"></button>
          <button data-botao-celulares="avancar" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao-avancar" title="Clique aqui para avançar os tutoriais desta categoria"></button>
        </div>
      </div>
      <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards">
        <ul data-carrossel-lista="celulares" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista">
          {% for tutorial in tutoriais %}
          {% if tutorial.categoria == "celulares" %}
          <li data-carrossel-item="celulares" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item item-atual-carrossel animacao">
            <a href="{% url 'tutorial' tutorial.categoria tutorial.titulo_para_url %}" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link" title="{{ tutorial.titulo }}">
              <h3 class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__titulo">
                  {{ tutorial.titulo }}
              </h3>
              <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__conteiner">
                <img class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__conteiner__imagem" src="{{ tutorial.capa.url }}" alt="Capa do tutorial">
              </div>
              <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao">
                <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-leitura">
                  <p class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-leitura__paragrafo">
                    {{ tutorial.tempo_de_leitura }} min.
                  </p>
                </div>
                <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-video">
                  <p class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-video__paragrafo">
                    {{ tutorial.tempo_de_video }} min.
                  </p>
                </div>
              </section>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </section>
    </section>
    <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria--espacamento">
      <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner">
        <a href="{% url 'categoria' 'redes-sociais' %}" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner__link secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner__link--redes-sociais" title="Acesse a página desta categoria de tutoriais">
          Redes Sociais
        </a>

        <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes">
          <button data-botao-redes-sociais="voltar" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao-voltar botao-voltar-redes-sociais" title="Clique aqui para voltar os tutoriais desta categoria"></button>
          <button data-botao-redes-sociais="avancar" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao-avancar" title="Clique aqui para avançar os tutoriais desta categoria"></button>
        </div>
      </div>
      <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards">
        <ul data-carrossel-lista="redes-sociais" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista">
          {% for tutorial in tutoriais %}
          {% if tutorial.categoria == "redes-sociais" %}
          <li data-carrossel-item="redes-sociais" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item item-atual-carrossel animacao">
            <a href="{% url 'tutorial' tutorial.categoria tutorial.titulo_para_url %}" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link"  title="{{ tutorial.titulo }}">
              <h3 class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__titulo">
                {{ tutorial.titulo }}
              </h3>
              <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__conteiner">
                <img class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__conteiner__imagem" src="{{ tutorial.capa.url }}" alt="Capa do tutorial">
              </div>
              <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao">
                <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-leitura">
                  <p class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-leitura__paragrafo">
                    {{ tutorial.tempo_de_leitura }} min.
                  </p>
                </div>
                <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-video">
                  <p class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-video__paragrafo">
                    {{ tutorial.tempo_de_video }} min.
                  </p>
                </div>
              </section>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </section>
    </section>
    <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria--espacamento">
      <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner">
        <a href="{% url 'categoria' 'navegadores' %}" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner__link secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner__link--navegadores" title="Acesse a página desta categoria de tutoriais">
          Navegadores
        </a>

        <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes">
          <button data-botao-navegadores="voltar" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao-voltar botao-voltar-navegadores" title="Clique aqui para voltar os tutoriais desta categoria"></button>
          <button data-botao-navegadores="avancar" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria__conteiner-botoes__botao-avancar" title="Clique aqui para avançar os tutoriais desta categoria"></button>
        </div>
      </div>
      <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards">
        <ul data-carrossel-lista="navegadores" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista">
          {% for tutorial in tutoriais %}
          {% if tutorial.categoria == "navegadores" %}
          <li data-carrossel-item="navegadores" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item item-atual-carrossel animacao">
            <a href="{% url 'tutorial' tutorial.categoria tutorial.titulo_para_url %}" class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link" title="{{ tutorial.titulo }}">
              <h3 class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__titulo">
                {{ tutorial.titulo }}
              </h3>
              <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__conteiner">
                <img class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__conteiner__imagem" src="{{ tutorial.capa.url }}" alt="Capa do tutorial">
              </div>
              <section class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao">
                <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-leitura">
                  <p class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-leitura__paragrafo">
                    {{ tutorial.tempo_de_leitura }} min.
                  </p>
                </div>
                <div class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-video">
                  <p class="secao-tutoriais-gerais--pagina-geral-de-tutoriais__secao-categoria-cards__lista__item__link__secao__conteiner-minutos-video__paragrafo">
                    {{ tutorial.tempo_de_video }} min.
                  </p>
                </div>
              </section>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </section>
    </section>
  </section>
</main>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static '/assets/js/carrosselAutomatico.js' %}"></script>
{% endblock %}
