{% extends "base.html" %}  {# Essa página tem sua estrutura no arquivo base.html #}

{% block title %}
<title>Newsletter | Cyber Security Information</title>
{% endblock %}


{% block class_css_body %} class="corpo__newsletter" {% endblock %}


{% block content %}
<main class="principal--newsletter">

<section class="secao-inicio">
    <h1 class="secao-inicio__titulo--newsletter secao-inicio__titulo--animacao-newsletter">
            Quer saber mais sobre a <span class="secao-inicio__titulo--cor">cibersegurança</span> e como colocá-la em prática?<span class="secao-inicio__titulo__cursor">|</span></h1>
    <section class="secao-inicio__conteiner secao-inicio__conteiner--newsletter">
        <h3 class="secao-inicio__conteiner__subtitulo secao-inicio__conteiner__subtitulo--newsletter">
                Inscreva-se na nossa newsletter e receba de forma exclusiva atualizações sobre nossas publicações, incluindo
                artigos, tutoriais e ferramentas que te auxiliarão na garantia da sua segurança no mundo digital.
        </h3>
    </section>
</section>

 <div class="conteiner--newsletter">
    <section class="secao-imagem">

    </section>
    <section class="secao-contato--newsletter">
        {% include 'partials/_alertas.html' %}
        <form class="secao-contato__formulario secao-contato__formulario--newsletter" method="post" action="{% url 'cadastro-newsletter' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="secao-contato__formulario__usuario">
                <div class="secao-contato__formulario__usuario__conteiner">
                    <label for="nome" class="secao-contato__formulario__usuario__label secao-contato__formulario__usuario__label--newsletter">Nome ou Apelido:</label>
                    <input type="text" id="nome" name="nome" class="secao-contato__formulario__usuario__input secao-contato__formulario__usuario__input--newsletter" placeholder="Digite seu nome ou apelido">
                </div>

                <div class="secao-contato__formulario__usuario__conteiner">
                    <label for="email" class="secao-contato__formulario__usuario__label secao-contato__formulario__usuario__label--newsletter">E-mail:</label>
                    <input type="email" id="email" name="email" class="secao-contato__formulario__usuario__input secao-contato__formulario__usuario__input--newsletter" placeholder="seuemail@seudomínio.com">
                </div>
            </fieldset>
            <div class="secao-contato__formulario__conteiner">
                <button type="submit" class="secao-contato__formulario__botao secao-contato__formulario__botao--newsletter">Quero me inscrever</button>
            </div>
        </form>
    </section>
</div>
</main>
{% endblock %}
