{% extends "base.html" %}  {# Essa página tem sua estrutura no arquivo base.html #}

{% block meta-descricao %}
<meta name="description" content="Informações sobre Segurança da Informação e Cibersegurança. Veja exemplos reais de como colocá-las em prática. Confira">
{% endblock %}

{% block meta-keys %}
<meta name="keywords" content="Cibernética, Cibersegurança, Cybersecurity, Informação, Segurança da Informação">
{% endblock %}

{% block title %}
<title>Cyber Security Information</title>
{% endblock %}


{% block class_css_body %} class="corpo__index" {% endblock %}


{% block content %}
{% endblock %}