{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Cyber Security Information</title>
    <link rel="icon"  type="image/png" sizes="16x16" href="{% static '/assets/img/favicon_csi.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/estilo.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" >
</head>
<body>
<header class="cabecalho">
  <div class="cabecalho__logo">
    <img class="cabecalho__imagem" src="{% static '/assets/img/logotipo_desktop.svg' %}"
         alt="Logotipo do site Cyber Security Information">
  </div>
  <div class="cabecalho__conteiner">
    <nav class="cabecalho__navegacao">
      <ul class="cabecalho__navegacao__lista">
        <li class="cabecalho__navegacao__lista__item">
          <a href="#" class="cabecalho__navegacao__lista__item__link">Sobre nós</a>
          <ul class="cabecalho__navegacao__sublista">
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link">Fale conosco</a>
            </li>
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link">Pesquisas</a>
            </li>
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link">Desenvolvedores</a>
            </li>
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link">Instituição</a>
            </li>
          </ul>
        </li>
        <li class="cabecalho__navegacao__lista__item">
          <a href="#" class="cabecalho__navegacao__lista__item__link">Ferramentas</a>
          <ul class="cabecalho__navegacao__sublista">
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link">Validador de URL's</a>
            </li>
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link">Gerador de Senhas</a>
            </li>
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link">Nosso App</a>
            </li>
          </ul>
        </li>
        <li class="cabecalho__navegacao__lista__item">
          <a href="#" class="cabecalho__navegacao__lista__item__link">Tutoriais</a>
          <ul class="cabecalho__navegacao__sublista">
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link">Verificação em Duas Etapas</a>
            </li>
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link">Mover e-mail para caixa de Spam</a>
            </li>
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#"  class="cabecalho__navegacao__sublista__item__link">Como baixar nosso App</a>
            </li>
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#"  class="cabecalho__navegacao__sublista__item__link">Como criar Senhas Fortes</a>
            </li>
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link--indicador cabecalho__navegacao__sublista__item__link">Ver mais</a>
            </li>
          </ul>
        </li>
        <li class="cabecalho__navegacao__lista__item">
          <a href="#" class="cabecalho__navegacao__lista__item__link">Conceitos</a>
          <ul class="cabecalho__navegacao__sublista">
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link">Cibersegurança</a>
            </li>
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link">Crimes Cibernéticos</a>
            </li>
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link">Dicionário de Cibersegurança</a>
            </li>
            <li class="cabecalho__navegacao__sublista__item">
              <a href="#" class="cabecalho__navegacao__sublista__item__link--indicador cabecalho__navegacao__sublista__item__link">Outros</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  </header>
</body>
</html>